body {
    background-color: #D9D9D9;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    aspect-ratio: 1/1;
    border: 1px solid black;
    background-color: white;
}
.sqr {
    display: grid;
    flex-wrap: wrap;
    background-color: white;
    width: 50px;
    aspect-ratio: 1/1;
    padding: 0;
    border: 1px solid black; 
    align-items: center;
}




